.circ-range--fruity {
  display: inline-block;
/*  width: 46px;*/
  padding: 5px;
  background-color: #5F6A6E;
}
.circ-range--fruity .circ-range__meter {
  stroke: white;
  fill: none;
  filter: url(#blur)
}
.circ-range--fruity .circ-range__circle {
  stroke: black;
  stroke-width: 1px;
  fill: #424649;
  filter: url(#polish);
}
.circ-range--fruity .circ-range__svg {
  display: block;
  width: 23px;
  margin: auto;

}
.circ-range--fruity .circ-range__basic-arc {
  display: none;
}
.circ-range--fruity .circ-range__active-arc {
  display: none;
}
.circ-range--fruity .circ-range__indicator {
  stroke: white;
  stroke-width: 2px;
}
.circ-range--fruity input {
  display: none;
}

