.circ-input--ableton {
  display: inline-block;
  width: 46px;
  height: 46px;
  padding: 5px;
  background-color: #8D8D8D;

  .circ-input__meter {
    display: none;
  }
  .circ-input__circle {
    stroke: none;
    fill: none;
  }
  .circ-input__svg {
    display: block;
    width: 36px;
    margin: auto;
  }
  .circ-input__basic-arc {
    stroke-width: 3px;
    stroke: black;
    fill: none;
    stroke-linecap: round;
  }
  .circ-input__active-arc {
    stroke-width: 3px;
    stroke: #E36716;
    fill: none;
    stroke-linecap: round;
  }
  .circ-input__indicator {
    stroke: black;
    stroke-width: 3px;
  }
  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    margin-top: -3px;
    text-align: center;
    border: 1px solid transparent;
    font-size: 10px;
    background-color: transparent;
  }
  input:focus {
    border-color: black;
    outline: 0;
    background-color: #BFBFBF;
  }
}



